---
import { menuLinks, siteConfig } from "@/site-config";
import SocialList from "@/components/SocialList.astro";

const year = new Date().getFullYear();
---

<div>
<hr class="mt-20">
<footer
	class="mt-auto flex w-full flex-col items-center justify-start gap-y-2 pt-4 pb-4  sm:divide-y-0 divide-gray-300 text-center align-top text-gray-600 dark:text-gray-400 sm:items-start sm:flex-row sm:justify-between text-xs sm:text-xs"
>
	<div class="text-center sm:text-left me-0 sm:me-4">
		<span class="inline-block">Kontakta redaktionen: <a class="text-link underline sm:no-underline hover:underline" href="mailto:bartotal.redaktionen@gmail.com">bartotal.redaktionen@gmail.com</a>.</span>
		<span class="inline-block">Ansvarig utgivare: Otto Antonsson.</span>
		<br>
		&copy; {siteConfig.author}
		{year}.
		<!--span class="inline-block">sida av <a class="text-link underline sm:no-underline hover:underline" href="https://turpelurpeluren.online">turpelurpeluren</a>.</span-->
	</div>
	<div class="flex flex-col items-end">
		<nav
			aria-label="More on this site"
			class="flex gap-x-2 sm:gap-x-0 sm:divide-x sm:divide-gray-500 mt-2 sm:mt-0"
		>
			{
				menuLinks.map((link) => (
					<a class="hidden sm:block px-4 py-2 sm:py-0 sm:hover:text-textColor sm:hover:underline font-semibold" href={link.path}>
						{link.title}
					</a>
				))
			}
			<div class="sm:pl-4">
			<SocialList class="w-6 h-6 sm:w-4 sm:h-4"/></div>
		</nav>
	</div>
</footer>
</div>