---
import { menuLinks, siteConfig } from "@/site-config";

const year = new Date().getFullYear();
---

<div>
<hr class="mt-20">
<footer
	class="mt-auto flex w-full flex-col items-center justify-start gap-y-2 pt-4 pb-4  sm:divide-y-0 divide-gray-300 text-center align-top text-gray-600 dark:text-gray-400 sm:items-start sm:flex-row sm:justify-between text-xs sm:text-xs"
>
	<div class="text-center sm:text-left me-0 sm:me-4">
		<span>Kontakta redaktionen: <a class="text-link" href="mailto:bartotal.redaktionen@gmail.com">bartotal.redaktionen@gmail.com</a></span>,
		<span class="inline-block">Ansvarig utgivare: Otto Antonsson</span>
		<br>
		&copy; {siteConfig.author}
		{year}.<!--span class="inline-block">&nbsp;🚀&nbsp;Astro Cactus</span-->
		<span class="inline-block text-link">&nbsp;<a href="https://turpelurpeluren.online">sida av turpelurpeluren</a></span>
	</div>
	<nav
		aria-label="More on this site"
		class="hidden sm:flex gap-x-2 sm:gap-x-0 divide-x divide-gray-500 mt-2 sm:mt-0"
	>
		{
			menuLinks.map((link) => (
				<a class="px-4 py-2 sm:py-0 sm:hover:text-textColor sm:hover:underline font-semibold" href={link.path}>
					{link.title}
				</a>
			))
		}
	</nav>
</footer>
</div>