---
import img from "/public/logo-small.png";
import PageLayout from "@/layouts/Base.astro";
import { Image } from "astro:assets";

const meta = {
	description: "Sidan hittas ej",
	title: "Felkod 404",
};
---

<PageLayout meta={meta}>
	<h1 class="title mb-6">åÅh nej, det här <i><b>HÄNDER</b></i> inte !! Felkod <span class="text-4xl text-gothic">404. ajsingen</span> också!</h1>
	<p class="mb-8">Leta vidare annorstädes i kabinetten.</p>
	<div class="my-4 grid justify-center">
		<Image
			alt="Bar Total logo"
			class="rotate-180"
			loading="eager"
			src={img}
		/>
	</div>
</PageLayout>
