---
import SocialList from "@/components/SocialList.astro";
import PostPreview from "@/components/blog/PostPreview.astro";
import { getAllPosts, sortMDByDate } from "@/data/post";
import PageLayout from "@/layouts/Base.astro";

const MAX_POSTS = 10;
const allPosts = await getAllPosts();
const allPostsByDate = sortMDByDate(allPosts).slice(0, MAX_POSTS);

---

<PageLayout meta={{ title: "Hem" }}>
	<section>
		<div class="prose prose-md prose-cactus">
		<slot /></div>
		<br>
		<SocialList />
	</section>
	<section aria-label="Blog post list" class="mt-16">
		<h2 class="title mb-4 text-xl">Det senaste från redaktionen</h2>
		<ul class="space-y-4">
			<hr>
			{
				allPostsByDate.map((p) => (
					<>
						<li class="grid gap-x-1 grid-rows-[auto_1fr] grid-cols-[1fr_auto] sm:[&_q]:col-start-2">
							<PostPreview post={p} />
						</li>
						<hr>
					</>
				))
			}
		</ul>
	</section>

	<!-- Netlify identity -->
	<script>
		declare global {
			interface Window {
				netlifyIdentity: any;
		}
	}
		if (window.netlifyIdentity) {
			window.netlifyIdentity.on("init", (user: any) => {
				if (!user) {
					window.netlifyIdentity.on("login", () => {
						document.location.href = "/admin/";
					});
				}
			});
		}
	</script>
</PageLayout>
